*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f172a;
    color: #e2e8f0;
}

.div-super {
    display: grid;
    grid-template-areas:
        "header header"
        "side sections"
        "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: 75px 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    height: 75px;
    background-color: #1e293b;
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 51;
    text-align: center;
}

header-text {
    font-size: 34px;
    background-size: 100%;
    align-content: center;

}

#menu-btn {
    font-size: x-large;
    background-color: #1e293b;
    color: #e2e8f0;
    border: none;
    visibility: hidden;
}

.sidebar {
    position: fixed;
    top: 75px;
    width: 150px;
}

.sidebar-contents {
    grid-area: side;
    min-height: calc(100vh - 75px);
    /* Ocupa a tela menos o header */
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s ease;

}

.sidebar-contents a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.sidebar-contents a:hover {
    background-color: #2f3d53;
    transform: scale(1.05);
}

#login {
    margin-top: auto;
}

.container-info {
    grid-area: sections;
    display: grid;
    grid-template-columns: auto;

    gap: 15px;
    padding: 20px;
}
.container-topo{
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 35px;
}
.container-topo h2{
    color: #d9d9d9;
    text-align: center;
    width: 30%;
    display: inline-block;
    font-size: 50px;
}
.container-info input{
    font-size: large;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    width: 65%;
    height: 50px;
}

.informacoes {
    word-break: break-all;
    color: #bfcadf;
    background-color: #334155;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    flex-flow: wrap column;
}
.aula{
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: larger;
    background-image: linear-gradient(#888888, #fff);
    display: flex;
    font-weight: 900;
}

.aula:hover{
    padding: 5.5px 20px;
}

.aula h2{
    color: #000000;
    display: inline-block;
    margin-right: auto;
}
.aula button{
    background: none;
    border: none;
    font-weight: 900;
    font-size: larger;
    padding: 0px 10px;
}
.aula button:hover{
    cursor: pointer;
    font-size: 28px;
}

footer {
    grid-area: footer;
    background-image: linear-gradient(45deg, #1e293b 20%, #020617);
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .div-super {
        grid-template-areas:
            "header"
            "sections"
            "footer";
        grid-template-columns: 1fr;
    }

    .sidebar-contents {
        position: fixed;
        width: 300px;
        height: 100vh;
        left: -100%;
    }

    .sidebar {
        position: fixed;
        width: 300px;
        left: -100%;
    }

    .sidebar-contents a {
        font-size: 30px;
    }

    .container-info {
        width: 100%;
        grid-template-columns: 100%;
    }

    #menu-btn {
        visibility: visible;
        z-index: 200;
        cursor: pointer;
    }

    #menu-btn:hover {
        background-color: #334155;
    }

    .sidebar-contents.open {
        left: 0;
    }

    .sidebar.open {
        left: 0;
    }
}